@font-face {
  font-family: OpenSans-Regular;
  src: url("OpenSans-Regular.ttf");
}
@font-face {
  font-family: Sacramento-Regular;
  src: url("Sacramento-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #008E5B;
  font-family: OpenSans-Regular;
}
h1 {

  width: 100%;
  text-align: center;
  color: white;
}
.input-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
input {
  width:80%;
  border: none;
  border-radius: 26px;
  margin-top: 55px;
  height: 40px;
  font-size: 44px;
  padding: 7px;
  padding-left: 15px;
}
.butt-form {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}
button {
  width: 50%;
  height: 50px;
  font-size: 34px;
  font-family: OpenSans-Regular;
  border:none;
  border-radius: 48px;
  background-color: #E32322;
  color: white;
  margin-bottom: 20px;
}
.ans-form {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-around;
  font-size: 30px;
}
h2 {
  font-family: Sacramento-Regular;
  color:white;
  margin-top: 40px;
  text-align: center;
  font-size: 210%;


}
